<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="canonical" href="<%= htmlWebpackPlugin.options.canonicalURL %>">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <meta content="<%= htmlWebpackPlugin.options.description %>" property="og:description">
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:title" />
    <meta content="<%= htmlWebpackPlugin.options.title %>" property="og:site_name" />
    <meta content="website" property="og:type" />
    <meta content="<%= htmlWebpackPlugin.options.url %>" property="og:url" />
    <meta content="<%= htmlWebpackPlugin.options.locale %>" property="og:locale" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Resource Hints-->
    <%= htmlWebpackPlugin.options.resourceHintsMetaTags %>
    <!--End of resource hints-->

    <style>
      html,
      body,
      #root {
        height: 100%;
      }

      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
